In [5]:
import json
import pandas as pd

with open('../data/bootstrap_static.json') as f:
    data = json.load(f)

players_df = pd.DataFrame(data['elements'])
teams_df = pd.DataFrame(data['teams'])

# Example: Top 10 players by total points
players_df[['web_name', 'total_points', 'now_cost', 'minutes']].sort_values(by='total_points', ascending=False).head(10)

      web_name  total_points  now_cost  minutes
386    M.Salah           344       145     3374
438     Mbeumo           236        80     3415
234     Palmer           214       105     3193
506       Isak           211       105     2758
533       Wood           200        75     2958
636      Bowen           193        80     2974
65     Watkins           186        90     2593
172      Wissa           185        75     2921
388  Luis Díaz           183        80     2393
437    Haaland           181       140     2736